<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>2009 Mitzvah Day Homepage</title>
  <link rel="stylesheet" href="../styles/tbi.css" type="text/css">
  <style type="text/css">
<!--
.style1 {color: #990000}
.style2 {
	color: #000000;
	font-weight: bold;
}
-->
  </style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
      <div id="mainPageHeader" class="mainBlock"><img
 src="../images/mainHeader.gif" border="0"></div>
      </td>
    </tr>
    <tr>
      <td valign="top">
      <div id="navBar" class="mainBlock">
      <table class="navBarTable" border="0" cellpadding="3"
 cellspacing="0" width="733">
        <tbody>
          <tr>
<!--TODO:  LINK THESE TO SUB-PAGES--> <td
 onclick="window.location.href='index.html'" class="hand"><a href="#"
 onclick="window.location.href='index.html'" class="hand">Home</a></td>
            <td onclick="window.location.href='about_tbi.html'"
 class="hand"><a href="#"
 onclick="window.location.href='about_tbi.html'" class="hand">About TBI</a></td>
            <td onclick="window.location.href='calendar.html'"
 class="hand"><a href="#" onclick="window.location.href='calendar.html'"
 class="hand">Calendar</a></td>
            <td onclick="window.location.href='worship.html'"
 class="hand"><a href="#" onclick="window.location.href='worship.html'"
 class="hand">Worship</a></td>
            <td onclick="window.location.href='education.html'"
 class="hand"><a href="#"
 onclick="window.location.href='education.html'" class="hand">Education</a></td>
            <td onclick="window.location.href='community.html'"
 class="hand"><a href="../community.html"
 onclick="window.location.href='community.html'" class="hand">Community</a></td>
          </tr>
        </tbody>
      </table>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div id="main" class="mainBlock">
      <table cellpadding="5" cellspacing="0">
        <tbody>
          <tr>
            <td class="sideNavbar" valign="top" width="200">
            <table class="sideBarTable">
              <tbody>
                <tr>
                  <td class="leftSideBarTitle">Community</td>
                </tr>
                <tr>
                  <td><a href="../howtojoin.html">How to Join</a></td>
                </tr>
                <tr>
                  <td><a href="../visitors.html">Information for Visitors</a></td>
                </tr>
                <tr>
                  <td><a href="../volunteer_opportunities.html">Volunteer
Opportunities</a></td>
                </tr>
                <tr>
                  <td>Tips for Jewish Living</td>
                </tr>
                <tr>
                  <td><a href="../announcements.html">Announcements</a></td>
                </tr>
                <tr>
                  <td><a href="../rabbis_page.html">Rabbis' Pages</a></td>
                </tr>
                <tr>
                  <td><a href="../community_education.html">Community
Education</a></td>
                </tr>
                <tr>
                  <td><a href="../committees.html">Committees</a></td>
                </tr>
                <tr>
                  <td><a href="../chavurot.html">Chavurot</a></td>
                </tr>
                <tr>
                  <td><a href="../sisterhood.html">Sisterhood</a></td>
                </tr>
                <tr>
                  <td><a href="../staff.html">Temple Staff</a></td>
                </tr>
                <tr>
                  <td><a href="../tbi_board.html">TBI Board</a></td>
                </tr>
                <tr>
                  <td><a href="../contact.html">Contact us!</a></td>
                </tr>
              </tbody>
            </table>
            </td>
            <td class="bodyText" valign="top">
            <h4 class="style1"><img src="images/gotmitzvahlogoemail-web.jpg" width="300" height="101"></h4>
            <h4 class="style1" style="margin-bottom: 0;"><strong>Mitzvah Day 2009</strong></h4>
<p style="margin-top: 0; margin-bottom: 0;"><strong>Sunday, April 26</strong></p>
<p style="margin-top: 0;"><br>
    Join the entire Jewish community to help others this spring! Volunteer just a little of your time and help support various projects around our community. This effort is a partnership between the Jewish Community Relations Council, TBI Sisterhood, Jewish Federation of Lane County, Temple Beth Israel, Or haGan, Ad Olam, Ahavas Torah, UO Hillel, AEPi Fraternity, and UO Jewish Student Union.</p>
<h5 style="margin-bottom: 0;">Mitzvah Day Kick-Off Breakfast</h5>
<p style="margin-top: 0; margin-bottom: 0;"><strong>April 26th 8:45 a.m. at TBI</strong><br>
</p>
<p style="margin-top: 0;">All participants are invited to the Kick-Off Breakfast and and will receive a Mitzvah Day T-Shirt.</p>
<p style="margin-bottom: 0;">&nbsp;</p>
<p style="margin-top: 0;"><strong>Mitzvah Day Projects include</strong> (click project title for details):</p>
<p>  <strong><a href="details2009.html#Blankets_for_Children">Blankets for Needy Children</a></strong><br>
  <br>
      <strong><a href="details2009.html#Beautification_Harris_Eastside">Beautification at Harris-Eastside Elementary</a><br>
      <br>
      <a href="details2009.html#Garden_Party_Mt_Pisgah">Gardening at Mt. Pisgah</a></strong><br>
      <br>
      <strong><a href="details2009.html#Park_Enhancement_Mt_Pisgah">Park Enhancement at Mt. Pisgah</a></strong><br>
      <br>
      <strong><a href="details2009.html#Activities_for_Seniors">Activities for Seniors at South Hill Rehab Center</a></strong><br>
      <br>
      <strong><a href="details2009.html#Spring_Cleaning">Spring Cleaning at First Place Family Center</a></strong><br>
      <br>
      <strong><a href="details2009.html#Toiletry_Kits">Toiletry Kits for Womenspace</a></strong><br>
      <br>
      <strong><a href="details2009.html#Home_Starter_Kits">Home Starter Kits for Homeless Families</a></strong><br>
      <br>
      <strong><a href="details2009.html#Kards_for_Kids">Kards for Kids:</a></strong> Card and Book Making for Children at Neve Michael Children&rsquo;s Village in Israel</p>
<h5>Reservations Required by April 5th! 
    <a href="form2009.html"><strong>Register Here</strong></a></h5>
<p class="style2">&nbsp; </p>
<h5><br>
                </h5>
            <p style="margin-bottom: 0;">&nbsp;</p></td>
          </tr>
        </tbody>
      </table>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="mainBlock">
      <table class="footer" border="0" cellpadding="0" cellspacing="0"
 width="733">
        <tbody>
           <tr>
            <td class="footerSide" width="260"> <b>TBI Office:</b><br>
Temple Beth Israel<br>
1175 E. 29th Ave.<br>
Eugene, OR. 97403<br>
Phone: (541) 485-7218<br>
FAX: (541) 485-7105 </td>
            <td class="footerCenter"> <a href="../directions.html"><b>Location
and Directions</b></a><br>
            <br>
            <b>Office Hours:</b><br>
Mon, Wed, Thurs, 10am-5pm<br>
Tuesday - Closed<br>
Friday, 10am-12pm </td>
            <td class="footerSide" width="180">
<b>Email us</b> @tbieugene.org:<br>
            info<br>
            webmaster<br>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      </td>	</tr>
  </tbody>
</table>
      </div>
      </td>
    </tr>
  </tbody>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1291169-1";
urchinTracker();
</script>

</body>
</html>
